API_ID= # get this value from my.telegram.org
API_HASH= # get this value from my.telegram.org
BOT_TOKEN=5718059625:AAH_npRFkqMyDJ1DHta_eKmOrUwo4FJmBOI # get this value from @Botfather
MONGO_DB_URI=mongodb+srv://vcbot:vcbot@cluster0.yqipgxg.mongodb.net/?retryWrites=true&w=majority # get this value from mongodb.com
LOG_GROUP_ID=-1001618068091 # get this value from in your log group 
MUSIC_BOT_NAME=HARSH❰🇮🇳❱ # your music bot name 
STRING_SESSION=BQB8HbCfWVdAa8NBcpiGPNOnmrFraDhehxn2BCeBxc7dyvYiDFUtPxSYdsWehlIQT__nmj8djeF_QoGtOq5edt1SWJ-tfRUXWsqPOPJ3gJ6nQxqhouPpU4EnfJ8p9OJ-jbDEnCbmKcIQJ_YJOOuNyfZXJyq8jJIIw89eqptjhxhE4m6j8iUTcygpDm0eRHWUHSrznmUwfrQFIhuNPaQz373XEj33Jk2Myw1v2t-dL-f-zBuO2w7qEVVQlzlY4D4lItStTg07bHiPvD2Dj2cPci_udkov9vHp1Pf--u7oHnhYopVV_hJYnYPUuvafFyKH3MSsbLcyo9pzDrMl05eCOoj3AAAAAV-9kLgA
